.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #050d18;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navBarWide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #050d18;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
}

.navList {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 1vh;
	width: 100%;
	/* border-bottom: 2px solid #8a2be2; */
}
.navListWide {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 2vh;
	width: 50%;
	/* border-bottom: 2px solid #8a2be2; */
}
.navListWideSearch {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin: 0;
}

.navItem {
	font-size: 2.5vw;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s background-color;
	padding: 12px;
}
.navItemWide {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	transition: 0.3s background-color;
}
.navItemWideSearch {
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	transition: 0.3s background-color;
	width: 100%;
	/* padding: 2px 40px 2px 40px; */
}
.navBtn {
	background: none;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	cursor: pointer;
}

.navLink {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	display: flex;
}

.navItemSearchButton {
	background: none;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	cursor: pointer;
}

.navBtn .svg-inline--fa {
	font-size: 14px;
	color: white;
}

.navItemSearchButton .svg-inline--fa {
	font-size: 18px;
	color: white;
}
.navItemSearchButtonWide {
	background: none;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 18px;
	right: 40px;
	width: auto;
	height: auto;
	cursor: pointer;
}
.navListWideSearch {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin: 0 10px 0 0;
}
.navItemSearchInput {
	border: 2px solid #ffffff;
	border-radius: 5px;
	outline: none;
	width: 45vw;
	max-width: 650px;
	min-width: 150px;
	padding: 4px;
	background-color: #050d18;
}

.filterBarContainer {
	display: flex;
	align-items: center;
	padding: 14px;
	flex-direction: column;
	background-color: #151b23;
	position: relative;
	top: 56px;
	width: 100%;
}
.filterBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
	background-color: #290f41;
	margin: 8px;
	border-radius: 6px;
}

.toggleSideBar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: fixed;
	padding: 4px;
	background-color: #1a0334eb;
	border-bottom-left-radius: 4%;
	border-bottom-right-radius: 4%;
	border: 2px solid #8a2be2;
	box-shadow: inset 0 0 10px #2b1b39, 0 0 10px #290f41;
	transition: all 0.4s ease-in-out;
	top: 56px;
	z-index: 1000;
}
.AllMoviesText {
	padding: 8px;
	margin-top: 80px;
	font-weight: bold; /* Make the text bold */
	color: #ffffff; /* Change the text color to purple */
}

.footer {
	background-color: #1a0334f8;
	color: white;
	text-align: center;
	padding: 10px 0;
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	font-size: 0.875rem;
}

.footer p {
	margin: 0;
	font-size: 1rem;
}

@media (max-width: 460px) {
	.navBarWide {
		display: none;
	}
}

@media (min-width: 760px) {
	.navBar {
		display: none;
	}
	.filterBarContainer {
		top: 68px;
	}
}
