/* Trending (HOME) */
.trendingPreviewMediaContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	/* grid-template-columns: repeat(auto-fill, 300px); */
	grid-auto-rows: auto;
	justify-content: center;
	justify-items: center;
	align-items: start;
	margin-top: 80px;
	padding: 16px;
}
/* Trending (Media all) */
.allTrendingMediaContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	/* grid-template-columns: repeat(auto-fill, 300px); */
	grid-auto-rows: auto;
	justify-content: center;
	justify-items: center;
	align-items: start;
	margin-top: 80px;
	padding: 16px;
}
/* All media favorites container */
.mediaFavoritesContainer {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.mediaByCategoryContainer {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	padding: 16px;
}
.mediaByCategoryContainerGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	/* grid-template-columns: repeat(auto-fill, 300px); */
	grid-auto-rows: auto;
	justify-content: center;
	justify-items: center;
	align-items: start;
}
.favoritesMovies {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.favoritesTVShows {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.favoriteMediaGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

	grid-auto-rows: auto;
	justify-content: center;
	justify-items: center;
	align-items: start;
	margin: 128px 8px 28px 8px;
}
/* All media container */
.mediaContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 8px;
}

.mediaImg {
	width: 100%;
	height: 340px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.mediaInfo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 8px 0 0 12px;
	color: white;
	z-index: 1;
}
.mediaFavoriteIcon {
	position: absolute;
	cursor: pointer;
	z-index: 2;
	font-size: 18px;
	color: #7e7b7b;
	transition: color 0.3s ease;
}

.mediaFavoriteIcon:hover {
	color: #ffd700;
}
