@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Inter', sans-serif;
	background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

.scrollbar-minimal::-webkit-scrollbar {
	height: 6px;
	background: transparent;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
	background: #4a5568;
	border-radius: 3px;
}

.scrollbar-minimal::-webkit-scrollbar-thumb:hover {
	background: #718096;
}
/* 
@keyframes christmasLights {
	0% {
		background: linear-gradient(to right, #ff0e0e, #01a801, #fff707);
	}
	50% {
		background: linear-gradient(to right, #0aa8f1, #aa06aa, #03e9e9);
	}
	100% {
		background: linear-gradient(to right, #ff0e0e, #01a801, #fff707);
	}
}

.christmas-lights {
	animation: christmasLights 4s linear infinite;
} */
