.trendingPreviewCategoriesContainer {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	text-decoration: none;
	padding: 4px 4px;
	border-radius: 18px;
	background-color: #009688;
	transition: background-color 0.3s ease-in-out;
	margin: 28px 20px 28px 20px;
	max-width: 100%;
	overflow: hidden;
}

.categoriesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.categoryItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 1px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
	/* margin: 4px; */
	flex: 1 1 calc(25% - 16px);
	min-width: 40px;
	min-height: 38px;
	max-width: 100%;
	word-wrap: break-word;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.categoryItem:hover {
	/* background-color: #010101; */
	background-color: #290f41;
}

@media (max-width: 768px) {
	.categoryItem {
		margin: 4px;
		background-color: #290f41;
	}
}
