* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: #170966da;
  background: linear-gradient(#031c70c2 8%, #1e2c3a 26%);
}
.disabled {
  display: none;
}
h1, h2, h3, input {
  margin: 0;
  padding: 0;
}
a:hover { 
  cursor: pointer;
}

@media (max-width: 1050px) {
  .trendingPreview-movies {
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(5, 380px)
  }
  .movie-img {
    width: 180px;
    height: 340px;
    cursor: pointer;
  }
  .genericMovies {
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(5, 380px);
  }
}
@media (max-width: 800px) {
  .header-text2 {display: none;}
  .searchForm-container {width: 60%;}
  .header-arrow {
    top: 2%;
    left: 4%;
  }
  .previewCategories-links {
    grid-template-columns: repeat(4, 160px);
  }
  .trendingPreview-movies {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(10, 430px);
  }
  .movie-img {
    width: 200px;
    height: 350px;
  }
  .genericMovies {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(10, 430px);
  }
}
@media (max-width: 500px) {
  .searchForm-container {width: 70%;}
  .previewCategories-links {
    grid-template-columns: repeat(2, 160px);
  }
  .previewCategories-links2 {
    grid-template-columns: repeat(2, 150px);
  }
  .trendingPreview-header {
    flex-direction: column;
    height: 100px;
  }
  .trendingPreview-movies {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(10, 320px);
    margin-top: 20px;
  }
  .movie-img {
    width: 160px;
    height: 300px;
  }
  .genericMovies {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(10, 320px);
  }
  .movieDetail-img {
    width: 340px;
    height: 400px;
  }
  .movieDetail-description{width: 360px;}
  .movieDetail-rating-container {
    font-size: 22px;
    font-weight: bold;
  }
  .categoriesList-container {
    font-size: 18px;
    font-weight: bold;
    color: #dffafa;
  }
  .relatedMovies-container {width: 400px;}
  .relatedMovies-text{ 
    font-size: 22px;
    padding: 6px;
  }
  .relatedMovies-gridContainer {
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 130px);
  }
}
@media (max-width: 350px) {
  .searchForm-container {width: 80%;}
  .trendingPreview-movies {
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(10, 300px);
  }
  .movie-img {
    width: 140px;
    height: 280px;
  }
  .genericMovies {
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(10, 300px);
  }
  .movieDetail-container {
    width: auto;
  }
  .movieDetail-img {
    width: 320px;
    height: 370px;
  }
  .movieDetail-description{
    width: 300px;
  }
  .movieDetail-rating-container {
    font-size: 20px;
    font-weight: bold;
  }
  .categoriesList-container {
    font-size: 18px;
    font-weight: bold;
  }
  .relatedMovies-container {width: 350px;}
  .relatedMovies-text{ 
    font-size: 22px;
    padding: 12px;
  }
  .relatedMovies-gridContainer {
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(2, 120px);
  }
}
