/* header */
.header-container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.header-text {
  color: #d80ddf;
  font-size: 28px;
  margin-top: 8px;
}
.header-text2 {
  color: #060422;
  font-size: 20px;
  margin-top: 4px;
}
.header-arrow {
  font-size: 34px;
  font-weight: 600;
  color: #e08813;
  position: absolute;
  top: 3%;
  left: 5%;
  cursor: pointer;
}
/* barra de busqueda header */
.searchForm-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.searchForm-input {
  display: flex;
  position: relative;
  width: 570px;
  justify-content: center;
  align-items: center;
}
.searchText {
  position: absolute;
  width: 100%;
  max-width: 570px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #9b949400;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
  outline: none;
  background: #fdfbfbe5;
}
.searchText::placeholder {
  font-size: 14spx;
  color: #052363;
}
.searchBtn {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  line-height: 18px;
  color: #282c2c;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
}
.searchIcon {
  font-size: 18px;
}
/* tipos de generos de peliculas */
.previewCategories-container {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: auto;
}
.previewCategories-links {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: auto;
  justify-items: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bolder;
  color: #3a3a3a;
  margin-bottom: 20px;
}
.movieLink {
  margin: 6px;
}
/* preview de las peliculas en tendencia */
.trendingPreview-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
}
.trendingPreview-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 80px;
}
.trendingPreview-text {
  font-size: 22px;
  color: #db9942;
}
.trendingPreview-btn {
  width: 172px;
  height: 42px;
  border: 1px solid #cec8c844;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #031c70c2;
}
.trendingPreview-movies {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  margin-top: 28px;
  background-color: #070433;
  justify-items: center;
}
.movie-container {
  width: 280px;
  height: 280px;
}
.movie-img {
  width: 280px;
  height: 280px;
  padding: 16px 0;
  cursor: pointer;
}
/* lista larga de peliculas que se buscan */
.genericMovies {
  display: grid;
  width: auto;
  height: 600px;
  grid-template-columns: repeat(3, 280px);
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  margin: auto;
}
/* detalle de la pelicula */
.movieDetail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.movieDetail-text {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  color: #b82cc5;
}
.movieDetail-img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  margin-top: 20px;
  border: 4px solid #7faef58c;
  border-radius: 10px;
}
.movieDetail-description {
  width: 480px;
  font-size: 18px;
  color: #15e6db;
}
.movieDetail-rating-container {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.ratingIcon {
  color: #e7f524;
}
.categoriesList-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.relatedMovies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.relatedMovies-text {
  font-size: 24px;
  padding: 24px;
}
.relatedMovies-gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.footer-container {
  margin: 30px;
  height: 80px;
  text-align: center;
  color: #30dd0e;
}