/* header */
.header-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.header-container-category {
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header-text {
  color: #c7def0;
  filter: drop-shadow(2px 4px 2px #243e4e);
  font-size: 34px;
  margin-top: 8px;
}
.header-category-text {
  color: #e4eff0;
  filter: drop-shadow(0px 0px 2px #232836);
}
.header-text2 {
  color: #e6eaec;
  filter: drop-shadow(2px 0px 2px #162235);
  font-size: 21px;
  margin-top: 6px;
}
.header-arrow {
  font-size: 34px;
  font-weight: 600;
  color: #ecf3f3de;
  position: absolute;
  top: 3%;
  left: 5%;
  cursor: pointer;
  filter: drop-shadow(0px 2px 1px #0b0f11);
}
/* barra de busqueda header */
.searchForm-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 40px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.searchForm-input {
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 670px;
  height: 40px;
  background: #f1efeffd;
  border: 2px solid #8b898900;
  border-radius: 22px;
}
.searchText {
  width: 94%;
  font-size: 18px;
  border: 1px solid #a8a3a300;
  padding-left: 16px;
  outline: none;
  background: none;
}
.searchBtn {
  padding: 0;
  position: absolute;
  top: 9px;
  right: 16px;
  line-height: 18px;
  color: #282c2c;
  text-align: center;
  border: none;
  background: none;
}
.searchIcon {
  font-size: 20px;
  cursor: pointer;
}
/* tipos de generos de peliculas */

/* estilos mientras carga la pagina */
.previwCategories-loading {
  width: 110px;
  border: 10px solid #e7e7e7ce;
  border-radius: 3px;
  margin: auto;
  animation: skeleton-loading infinite 2.4s;
  animation-delay: 0.8s;
}
.previwCategories-loading:nth-child(2) {
  animation-delay: 1s;
}
.previwCategories-loading:nth-child(3) {
  animation-delay: 1.3s;
}
.previwCategories-loading:nth-child(4) {
  animation-delay: 1.5s;
}
/* estilos mientras carga la pagina */
.previewCategories-up-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.previewCategories-links {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  justify-items: center;
  font-weight: bolder;
}
.previewCategories-down-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.previewCategories-links2 {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  justify-items: center;
  font-weight: bolder;
}
.movieLink {
  width: 120px;
  color: #d3cece;
  box-shadow: 2px 3px 3px 0px #212a2eb0;
  border-radius: 2px;
  font-size: 18px;
  margin: auto;
  text-align: center;
}
/* preview de las peliculas en tendencia */
.movie-loading {
  display: flex;
  background-color: #d4d4d4ea;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: 560px;
  min-height: 560px;
  max-height: 560px;
  border-radius: 16px;
  animation: skeleton-loading infinite 2s;
}
.movie-loading-detail {
  display: flex;
  background-color: #d4d4d4ea;
  width: 680px;
  min-width: 680px;
  max-width: 680px;
  height: 1050px;
  min-height: 1050px;
  max-height: 1050px;
  border-radius: 16px;
  animation: skeleton-loading infinite 2s;
}
.trendingPreview-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.trendingPreview-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.trendingPreview-text {
  font-size: 22px;
  color: #e6eaec;
  filter: drop-shadow(0px 0px 2px #130e1b);
  box-shadow: 0px 1.5px 0px 0px #212a2eb0;
}
.trendingHome-btn,
.trendingPage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto auto auto;
  width: 260px;
  height: 60px;
  font-size: 20px;
  border: 2px solid #51575b;
  border-radius: 20px;
  background-color: #32324e7c;
  color: #d3cece;
  font-family: inherit;
  cursor: pointer;
}
.trendingPreview-movies {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: max-content;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.movie-container {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 600px;
  margin: 30px 0 15px 0;
}
.movie-img {
  width: inherit;
  height: inherit;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 3px 3px 7px 8px #111516;
}
/* .movie-void {
  width: 290px;
  height: 600px;
  background-color: #d1d4d4;
  border-radius: 16px;
  box-shadow: 3px 3px 7px 8px #111516;
  font-size: 24px;
  text-align: center;
} */
/* lista larga de peliculas que se buscan */
.genericMovies {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(5, 650px);
  justify-content: center;
  justify-items: center;
  margin: 50px;
}
/* detalle de la pelicula */
.movieDetail-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.movieImgDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  object-fit: cover;
  height: 1050px;
  margin: 50px auto auto auto;
}
.movieImgDetail {
  width: inherit;
  height: inherit;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 2px 2px 8px 8px #161b1d;
}
.movieDetail-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  margin: 60px 20px 0px 20px;
}
.movieDetail-name {
  font-size: 24px;
  font-weight: bold;
  color: #e4eff0;
  filter: drop-shadow(0px 0px 2px #232836);
}

.movieDetail-description {
  width: 660px;
  font-size: 21px;
  font-family: 'Heebo', sans-serif;
  color: #a8cac9;
  text-align: justify;
}
.movieDetail-rating-container {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #39e764;
}
.movieDetail-rating {
  color: #8ac7c7;
}
.ratingIcon {
  color: #dbe72a;
}
.categoriesList-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
}
.relatedMovies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.relatedMovies-text {
  font-size: 22px;
  padding: 24px;
}
.relatedMovies-gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: repeat(5, 640px);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
/* footer */
.footer-container {
  margin-top: 40px;
  border-radius: 2px;
  background: linear-gradient(#263b4e, #213d5e);
}
.footer__flex {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  color: #bbe7c6;
}

/* animaciones */

@keyframes skeleton-loading {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
}
